<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>
    <h1>Article List</h1>
<div class="articles">
    {% for article in articles %}
    <div class="article">
        <h2><a href="#">{{article.title}}</a> </h2>
        <p>{{ article.body }}</p>
        <p>{{ article.date }}</p>
    </div>
    {% endfor %}
</div>
</body>
</html>